<configuration><system.webServer><defaultDocument><files><clear /><add value="default.asp" /><add value="index.aspx" /><add value="index.asp" /><add value="index.php" /><add value="default.htm" /><add value="index.htm" /><add value="index.html" /><add value="default.aspx" /><add value="home.aspx" /></files></defaultDocument>
        <httpErrors errorMode="Custom" /></system.webServer>
    <system.web>
        <customErrors mode="On" />
    </system.web></configuration>